/* GLOBAL */

html,
body {
	height: 100%;
}
html {
	font-size: 40px;
}
body {
	background-color: #000000;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.alliance-war {
	background-image: url('../img/alliance-war/background.jpg');
	background-size: cover;
	aspect-ratio: 2/1;
	position: relative;
}
.alliance-war--ratio-by-height {
	height: 1400px;
	max-height: 100%;
}

.alliance-war--ratio-by-width {
	width: 2800px;
	max-width: 100%;
}
.alliance-war::before {
	content: '';
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.alliance-war-1::before {
	background-image: url('../img/alliance-war/sectors-1.png');
}
.alliance-war-2::before {
	background-image: url('../img/alliance-war/sectors-2.png');
}
.alliance-war-3::before {
	background-image: url('../img/alliance-war/sectors-3.png');
}
.alliance-war-4::before {
	background-image: url('../img/alliance-war/sectors-4.png');
}
.alliance-war-5::before {
	background-image: url('../img/alliance-war/sectors-5.png');
}
.alliance-war-6::before {
	background-image: url('../img/alliance-war/sectors-6.png');
}
.alliance-war-7::before {
	background-image: url('../img/alliance-war/sectors-7.png');
}
.alliance-war-8::before {
	background-image: url('../img/alliance-war/sectors-8.png');
}
.alliance-war-9::before {
	background-image: url('../img/alliance-war/sectors-9.png');
}
.alliance-war-10::before {
	background-image: url('../img/alliance-war/sectors-10.png');
}

/* GRID */

.alliance-war__container {
	height: 100%;
	aspect-ratio: 2632/1400;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
.alliance-war__grid {
	width: calc(100% / 2632 * 2432);
	height: calc(100% / 1400 * 1200);
	position: relative;
}
.alliance-war__grid__edge {
	display: flex;
	position: absolute;
}
.alliance-war__grid__edge--top {
	height: 18%;
	top: 0;
	left: 6.57895%;
	right: 6.57895%;
}
.alliance-war__grid__edge--bottom {
	height: 22.5%;
	bottom: 0;
	left: 0;
	right: 0;
}
.alliance-war__grid__edge--left,
.alliance-war__grid__edge--right {
	width: 11%;
	flex-direction: column;
	top: 0;
	bottom: 0;
}
.alliance-war__grid__edge--left {
	left: 0;
	transform: skewX(-7.6deg) scaleX(1.5);
	transform-origin: 0 100%;
}
.alliance-war__grid__edge--right {
	align-items: flex-end;
	right: 0;
	transform: skewX(7.6deg) scaleX(1.5);
	transform-origin: 100% 100%;
}

/* SECTOR */

.alliance-war__grid__edge__sector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.alliance-war__grid__edge__sector--top,
.alliance-war__grid__edge__sector--bottom {
	width: calc(100% / 6);
	height: 100%;
}
.alliance-war__grid__edge__sector--top {
	align-items: flex-start;
}
.alliance-war__grid__edge__sector--bottom {
	align-items: flex-end;
}
.alliance-war__grid__edge__sector--left,
.alliance-war__grid__edge__sector--right {
	flex-direction: column;
}
.alliance-war__grid__edge__sector--left {
	align-items: flex-end;
}
.alliance-war__grid__edge__sector--right {
	align-items: flex-start;
}
.alliance-war__grid__edge__sector--left--1,
.alliance-war__grid__edge__sector--right--1 {
	width: 90%;
	height: calc(100% / 1200 * 215);
}
.alliance-war__grid__edge__sector--left--2,
.alliance-war__grid__edge__sector--right--2 {
	width: 92%;
	height: calc(100% / 1200 * 226);
}
.alliance-war__grid__edge__sector--left--3,
.alliance-war__grid__edge__sector--right--3 {
	width: 94%;
	height: calc(100% / 1200 * 238);
}
.alliance-war__grid__edge__sector--left--4,
.alliance-war__grid__edge__sector--right--4 {
	width: 97%;
	height: calc(100% / 1200 * 252);
}
.alliance-war__grid__edge__sector--left--5,
.alliance-war__grid__edge__sector--right--5 {
	width: 100%;
	height: calc(100% / 1200 * 269);
}
.alliance-war__grid__edge__sector__frenchy {
	background-image: url('../img/alliance-war/frenchy.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	width: 60%;
	height: 60%;
	position: absolute;
	top: 20%;
}
.alliance-war__grid__edge__sector--left .alliance-war__grid__edge__sector__frenchy,
.alliance-war__grid__edge__sector--right .alliance-war__grid__edge__sector__frenchy {
	left: 20%;
}
.alliance-war__grid__edge__sector--left .alliance-war__grid__edge__sector__frenchy {
	transform: skewX(3.8deg) scaleX(calc(1 / 1.5));
}
.alliance-war__grid__edge__sector--right .alliance-war__grid__edge__sector__frenchy {
	transform: skewX(-3.8deg) scaleX(calc(1 / 1.5));
}
.alliance-war__grid__edge__sector--top--1 .alliance-war__grid__edge__sector__frenchy {
	left: 17%;
}
.alliance-war__grid__edge__sector--top--2 .alliance-war__grid__edge__sector__frenchy {
	left: 18%;
}
.alliance-war__grid__edge__sector--top--3 .alliance-war__grid__edge__sector__frenchy {
	left: 20%;
}
.alliance-war__grid__edge__sector--top--4 .alliance-war__grid__edge__sector__frenchy {
	left: 20%;
}
.alliance-war__grid__edge__sector--top--5 .alliance-war__grid__edge__sector__frenchy {
	left: 22%;
}
.alliance-war__grid__edge__sector--top--6 .alliance-war__grid__edge__sector__frenchy {
	left: 23%;
}
.alliance-war__grid__edge__sector--bottom--1 .alliance-war__grid__edge__sector__frenchy {
	left: 24%;
}
.alliance-war__grid__edge__sector--bottom--2 .alliance-war__grid__edge__sector__frenchy {
	left: 23%;
}
.alliance-war__grid__edge__sector--bottom--3 .alliance-war__grid__edge__sector__frenchy {
	left: 21%;
}
.alliance-war__grid__edge__sector--bottom--4 .alliance-war__grid__edge__sector__frenchy {
	left: 19%;
}
.alliance-war__grid__edge__sector--bottom--5 .alliance-war__grid__edge__sector__frenchy {
	left: 17%;
}
.alliance-war__grid__edge__sector--bottom--6 .alliance-war__grid__edge__sector__frenchy {
	left: 16%;
}

/* TEAM */

.alliance-war__grid__edge__sector__team {
	aspect-ratio: 1/1;
	position: relative;
	transform: rotate(45deg);
}
.alliance-war__grid__edge__sector__team--top,
.alliance-war__grid__edge__sector__team--bottom {
	border: min(4px, 0.2vw) solid #d6dee3;
	height: 50%;
		height: 30%;
}
.alliance-war__grid__edge__sector__team--top {
	top: -18%;
}
.alliance-war__grid__edge__sector__team--bottom {
	bottom: -18%;
}
.alliance-war__grid__edge__sector__team--left,
.alliance-war__grid__edge__sector__team--right {
	border: min(3px, 0.2vw) solid #d6dee3;
	width: 23%;
}
.alliance-war__grid__edge__sector__team--left {
	left: -88%;
}
.alliance-war__grid__edge__sector__team--right {
	right: -88%;
}
.alliance-war__grid__edge__sector__team--off {
	display: none;
}
.alliance-war__grid__edge__sector__team--1 {
	background-color: var(--team-1-background-color, #000000);
	border-color: var(--team-1-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--2 {
	background-color: var(--team-2-background-color, #000000);
	border-color: var(--team-2-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--3 {
	background-color: var(--team-3-background-color, #000000);
	border-color: var(--team-3-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--4 {
	background-color: var(--team-4-background-color, #000000);
	border-color: var(--team-4-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--5 {
	background-color: var(--team-5-background-color, #000000);
	border-color: var(--team-5-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--6 {
	background-color: var(--team-6-background-color, #000000);
	border-color: var(--team-6-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--7 {
	background-color: var(--team-7-background-color, #000000);
	border-color: var(--team-7-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--8 {
	background-color: var(--team-8-background-color, #000000);
	border-color: var(--team-8-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--9 {
	background-color: var(--team-9-background-color, #000000);
	border-color: var(--team-9-border-color, #d6dee3);
}
.alliance-war__grid__edge__sector__team--10 {
	background-color: var(--team-10-background-color, #000000);
	border-color: var(--team-10-border-color, #d6dee3);
}

/* HELP */

.alliance-war__help {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.alliance-war__help__button {
	color: #ffffff;
	font-family: Arial;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: calc(2.5rem - min(6px, 0.4vw));
	background-color: transparent;
	border: min(3px, 0.2vw) solid currentColor;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: 1.25rem;
	left: 1.25rem;
	cursor: pointer;
}
.alliance-war__help__button:hover {
	background-color: rgba(255, 255, 255, 0.25);
}
.alliance-war__help__button:hover + .alliance-war__help__content {
	display: block;
}
.alliance-war__help__content {
	color: #ffffff;
	font-family: Arial;
	font-size: 1em;
	line-height: 1.5;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 1.25rem 1.25rem 1.25rem 5rem;
	display: none;
}

/* MENU */

.alliance-war__menu {
	width: calc(100% / 2800 * 268);
	position: absolute;
	top: calc(100% / 1400 * 100);
	right: calc(100% / 2800 * 50);
}
.alliance-war__menu__items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.75rem;
}
.alliance-war__menu__item {
}
.alliance-war__menu__button {
	color: #ffffff;
	font-family: Arial;
	font-size: 1rem;
	line-height: 1;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	appearance: none;
	cursor: pointer;
	user-select: none;
}
.alliance-war__menu__button::after {
	content: '\002714';
	font-size: 1.25rem;
	text-indent: 0.125rem;
	line-height: 0.65rem;
	width: 1rem;
	height: 1rem;
	display: block;
}
.alliance-war__menu__button--on::after {
	content: '\002714';
}
.alliance-war__menu__button--off::after {
	content: '';
}
.alliance-war__menu__button--1::after {
	background-color: var(--team-1-background-color, #000000);
}
.alliance-war__menu__button--2::after {
	background-color: var(--team-2-background-color, #000000);
}
.alliance-war__menu__button--3::after {
	background-color: var(--team-3-background-color, #000000);
}
.alliance-war__menu__button--4::after {
	background-color: var(--team-4-background-color, #000000);
}
.alliance-war__menu__button--5::after {
	background-color: var(--team-5-background-color, #000000);
}
.alliance-war__menu__button--6::after {
	background-color: var(--team-6-background-color, #000000);
}
.alliance-war__menu__button--7::after {
	background-color: var(--team-7-background-color, #000000);
}
.alliance-war__menu__button--8::after {
	background-color: var(--team-8-background-color, #000000);
}
.alliance-war__menu__button--9::after {
	background-color: var(--team-9-background-color, #000000);
}
.alliance-war__menu__button--10::after {
	background-color: var(--team-10-background-color, #000000);
}



/*
 * ==========================================================
 * RESPONSIVE
 * ==========================================================
 */

@media only screen and (max-width: 2800px) {
	
	/* GLOBAL */
	
	.ratio-by-width {
		font-size: calc(100vw / 2800 * 40);
	}
}

@media only screen and (max-height: 1400px) {
	
	/* GLOBAL */
	
	.ratio-by-height {
		font-size: calc(100vh / 1400 * 40);
	}
}
